* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.container {
    display: block;
    background-color: #13223D;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
}
.textArea {
    display: block;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

.textArea input {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    color: #057e18;
    padding-right: 10px;

}

.textArea input:focus {
    outline: none;
    border: none;
}

.buttons {
    background-color: #13223D;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 60px);
    flex-wrap: wrap;
}

.buttons button {
    width: 70px;
    height: 70px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}

.blank{
    visibility: hidden;
}

.orange {
    color: orange;
}

.blue {
    color: blue
}
